@model PasswordChangeViewModel

@{
    ViewData["Title"] = "PasswordChange";
}


@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<h2>Password Change</h2>

<form method="post" asp-action="PasswordChange" asp-controller="Member">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"]?.ToString();
        </div>
    }
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
    <div class="mb-3">
        <label asp-for="PasswordOld" class="form-label">Password Old</label>
        <input type="email" class="form-control" asp-for="PasswordOld" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="PasswordOld"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PasswordNew" class="form-label">Password New</label>
        <input type="email" class="form-control" asp-for="PasswordNew" aria-describedby="emailHelp">
        <span class="text-danger" asp-validation-for="PasswordNew"></span>
    </div>
    <div class="mb-3">
            <label asp-for="PasswordConfirm" class="form-label">Password Confirm</label>
            <input type="email" class="form-control" asp-for="PasswordConfirm" aria-describedby="emailHelp">
            <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
        </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
