@model RoleUpdateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Role Update</h2>

<form asp-controller="Role" asp-action="RoleUpdate" method="post">
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Success"]?.ToString();
            </div>
        }
    
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
    <div class="row mb-3">

        <input asp-for="Id" type="hidden"/>

        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-control">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>
